%html
  %head
    %title Welcome to my app
    %script(src='script/index.js')
    %link(rel='stylesheet' href='style/index.css')
  %body
    .message
      %h1
        Boilerplate is alive!
      .instructions
        %p Now you can edit files in app/ and they'll be auto-compiled in public/ after each save.
        %p For more fun, [install the LiveReload extension](http://livereload.com/extensions/), navigate back here, and click the LiveReload button to enable it. Then your browser should reload whenever you save a file.

